body, button, textarea {
    background-color: #EFEFEC;
    color: black;
    font-family: Sans-Serif, sans-serif;
}

h1 {
    padding: 10px;
    font-weight: normal;
    display: inline;
    vertical-align: middle;
}

header {
    background-color: #4795CF;
    color: white;
    padding: 20px;
}

#eggserverLogo {
    height: 60px;
    display: inline-block;
    vertical-align: middle;
}

#lunarisLogo{
    padding-left: 5px;
    width: 40px;
    height: 40px;
    display: inline-block;
    float: right;
    vertical-align: middle;
}

#lunarisBranding{
    padding-top: 9px;
    display: inline-block;
    float: right;
}
#lunarisHeader {
    display: inline-block;
    padding-top: 4px;
    font-size: smaller;
}

#lunarisHeader span {
    display: block;
    text-align: right;
}
.stepNumber {
    font-size: large;
    color: green;
}

a {
    color: #4795CF;
}

.panel {
    background-color: white;
    display: flex;
    margin: 10px;
    border: #DADAD4 solid 1px;
    border-radius: 7px;
}

#explainer {
    font-size: larger;
    margin: 20px;
    padding-right: 20px;
    flex: 3;
    border-right: #92928E solid 1px;
    line-height: 1.5;
}

#statuschecker {
    padding: 20px;/
    display: inline-block;
    float: right;
    text-align: center;
    flex: 1;
}

#statuschecker label {
    font-size: larger;
    display: block;
    font-weight: bold;
}

#statuschecker input {
    font-size: larger;
    width: 50%;
    height: 1.75em;
    border: #D9DBDC solid 1px;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

#statuschecker button {
    width: 50%;
    background-color: #5783B4;
    color: white;
    height: 1.5em;
    font-size: larger;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.panelheading {
    padding: 20px;
    font-size: 1.75em;
}

.paneltab{
    margin: 10px;
    border: #DADAD4 solid 1px;
    border-radius: 7px;
}

.tabtop{
    background: #EFEFEC;
    padding: 10px;
}

.tabheading{
    display: inline;
    font-weight: normal;
}

#createjob {
    display: block;
}

#source-info {
    display: inline;
    float: right;
}

#source-info span {
    float: left;
    padding: 2px;
    color: white;
    border-radius: 9px;
    font-size: smaller;
    margin-left: 5px;
    margin-right: 5px;
    width: 80px;
    text-align: center;
}

#data-filename {
    background: #4E5E98;
}

#ref-genome {
    background: #CA4842;
}

#upload-instructions {
    margin: 20px;
    background: #D5EAEB;
    padding: 10px;
    border: #A2BDD2 solid 1px;
    color: #4589BB;
    border-radius: 7px;
    text-align: center;
}