/*Eggserver-specific styles. Should be refactored away as much as possible.*/

body, textarea {
    background-color: #EFEFEC;
    color: black;
    font-family: Sans-Serif, sans-serif;
}

h1 {
    padding: 10px;
    font-weight: normal;
    display: inline;
    vertical-align: middle;
}

header {
    background-color: #0097d6;
    color: white;
    padding: 20px;
}

#eggserverLogo {
    height: 60px;
    display: inline-block;
    vertical-align: middle;
}

#lunarisLogo{
    padding-left: 5px;
    width: 40px;
    height: 40px;
    display: inline-block;
    float: right;
    vertical-align: middle;
}

#lunarisBranding{
    padding-top: 9px;
    display: inline-block;
    float: right;
}
#lunarisHeader {
    display: inline-block;
    font-size: smaller;
}

#lunarisHeader span {
    display: block;
    text-align: right;
}

/*Instead of a divider column, doing this at the top.*/
#statuschecker{
    border-left: #aaa 1px solid;
    text-align: center;
    display: inline-block
}

#statuschecker h4 {
    font-weight: bold;
}

#statuschecker label {
    font-weight: bold;
    display: block;
}

div.centering {
    display: flex;
}

div.placeholder{
    flex: 1;
}

#statuschecker input{
    margin-bottom: 10px;
    flex:2;
}

#statuschecker button {
    margin-top: 10px;
    flex: 2;
    max-width: 120px;
}

.mdkp-footer a {
    color: white !important;
}

div.accordion{
    margin: 10px;
}

div.card.mb-1 {
    border-bottom: 0px !important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

div.card-body {
    padding: 20px;
}

div.centering .btn{
    margin: 5px;
}

div.centering label{
    text-align: center;
}

.nav-link.active {
    background-color: #efefef !important;
    border-bottom-color: #efefef !important;
}

.nav-link{
    background-color: #dee2e6;
}

table {
    margin: 20px;
}

thead {
    font-weight: bold;
    border-bottom: 2px solid black;
}

#statuscard {
    border: 0px;
}

.tabs {
    padding: 10px !important;
}

li.nav-item {
    padding-right: 5px;
}

.btn-secondary {
    background-color: green !important;
    border-color: green !important;
}

.btn-secondary:hover{
    background-color: darkgreen !important;
    border-color: darkgreen !important;
}
