body, button, textarea {
    background-color: white;
    color: black;
    font-family: Sans-Serif, sans-serif;
}

h1 {
    padding: 10px;
    font-weight: normal;
    display: inline;
}

header {
    background-color: #4795CF;
    color: white;
    padding: 20px;
}

#lunarisLogo{
    height: 45px;
    width: 45px;
    display: inline-block;
    float: right;
}

#lunarisHeader {
    display: inline-block;
    float: right;
}

#lunarisHeader span {
    display: block;
    text-align: right;
}
.stepNumber {
    font-size: large;
    color: green;
}

a {
    color: #4795CF;
}